// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  display: inline-block;
  position: relative;
  border: 1px solid #000;
}

.container {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #000;
  img {
    display: block;
  }
}

.time-remaining {
  position:absolute;
  bottom:0px;
  right:0px;
}

.tag {
  width: 100px;
  min-height: 100px;
  position: absolute;
  // top: 0px;
  // left: 0px;
}

.active {
  border: 4px solid #ff0;
  ul {
    background-color: #ff0; 
    border: 4px solid #ff0;
  }
}

.set {
  border: 4px solid #0f3;
  ul {
    background-color: #0f3; 
    border: 4px solid #0f3;
  }
}

.close {
  background-color: #0f3;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
}

.characters {
  position: relative;
  top: 100px;
  left: -4px;
  width: 100px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}